@*@{
    ViewBag.Title = "AddItem";
    Layout = "~/Views/Shared/_Layoutchicken.cshtml";
}

<div id="leftblockonePan" align="center" style="text-align:left">

    @using(Html.BeginForm("AddItem","Admin",FormMethod.Post,new {encrypt="multipart/form-data"} ))
    {
        <table style="margin-left:200px">
          <tr><td><p >Name of Book: </p></td>
              <td> 
              <input type="text" id="n" name="n"/></td></tr>
          <tr><td><p >Number of books: </p></td>
              <td> <input type="text" id="q" name="q" /></td></tr>
 		  <tr><td><p >Price : </p> </td>
               <td> <input type="text" id="p" name="p"/></td></tr>
           
            <tr><td><p >Image of Book: </p>  <input type="file" id="imagename" name="imagename"/></td></tr>
             <tr><td><input type="submit" value="Proceed"/></td></tr>
            </table>
        }

    
  </div>*@