@{
    ViewBag.Title = "t";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
	@*<div class="header">
		<div>
			<a href="index.html"><img src="~/images/logo.png" alt="Logo"></a>
		</div>
	</div>*@
	<div class="body">
		<div>
			<div class="header">
			<ul>
					<li>
						<a href="~/Home">HOME</a>
					</li>
					<li>
						<a href="~/Recipes/Recipes">RECIPIE BOOKS</a>
					</li>
					<li>
						<a href="~/UploadPictures/Upload">UPLOAD PICTURES</a>
					</li>
					<li>
						<a href="~/Videos/Videos">VIDEOS</a>
					</li>
					<li>
						<a href="~/About/About">ABOUT</a>
					</li>
					<li class="current">
						<a href="~/Blog">BLOG</a>
					</li>
				</ul>
			</div>



			<div class="body">
				<div>
					<a href="index.html"><img src="~/images/turkey.jpg" alt="Image"></a>
				</div>
			</div>
			<div class="footer">
				<ul>
					<li>
						<h2><a href="featured.html">Upload Pictures</a></h2>
						<a href="featured.html"><img src="~/images/featured.jpg" alt="Image"></a>
					</li>
					<li>
						<h2><a href="~/Recipes/Recipes">Recipe Books</a></h2>
						<a href="~/Recipes/Recipes"><img src="~/images/a-z.jpg" alt="Image"></a>
					</li>
				</ul>
				<ul>
					<li>
						<h2><a href="~/Videos/Videos">Videos</a></h2>
						<a href="~/Videos/Videos"><img src="~/images/videos.jpg" alt="Image"></a>
					</li>
					<li>
						<h2><a href="~/Blog">Blog</a></h2>
						<a href="~/Blog"><img src="~/images/blog.jpg" alt="Image"></a>
					</li>
				</ul>
			</div>
		</div>
		<div>
			<div>
<li><a href="~/SignUp/SignUp">Sign Up</a></li>
<li><a href="~/Login">Login</a></li>
				<h3>Cooking Video</h3>
				<a href="~/Videos/Videos"><img src="~/images/cooking-video.png" alt="Image"></a>
				<span>Vegetable &amp; Rice Topping</span>
			</div>
		</div>
	</div>
	<div class="footer">
		<div>
			<p>
				&copy; Copyright 2012. All rights reserved
			</p>
		</div>
	</div>
