@{
    ViewBag.Title = "videos";
    Layout = "~/Views/Shared/_Layoutchicken.cshtml";
}

	<div class="body">
		<div>
			<div class="header">
		<ul>
					<li>
						<a href="~/Home">HOME</a>
					</li>
					<li>
						<a href="~/Recipes/Recipes">RECIPIE BOOKS</a>
					</li>
					 <li>
						<a href="~/Home/Gallary">GALLARY</a>
					</li>
					<li>
						<a href="~/Home/Videos">VIDEOS</a>
					</li>
					<li>
						<a href="~/About/About">ABOUT</a>
					</li>
					<li>
						<a href="~/Home/search">Search</a>
					</li>
				</ul>
			</div>
			<div class="body">
				<div id="content">
					<div>
						<div>
							<ul>
								<li>

									<video width="700" height="700" controls>
  <source src="~/myVideos/Chicken Biryani Ii Bajias Cooking [Yutube.PK].mp4" type="video/mp4">
</video>
									
								
								</li>
								<li>
									
																	<video width="700" height="700" controls>
  <source src="~/myVideos/Pakistani Cooking Show (In Urdu).mp4" type="video/mp4">
</video>
									
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div>
			<div>
                
				<h3>Cooking Video</h3>
				<a href="~/Videos/Videos"><img src="~/images/cooking-video.png" alt="Image"></a>
				<span>Vegetable &amp; Rice Topping</span>
			</div>
		</div>
	</div>
	<div class="footer">
		<div>
			<p>
				&copy; Copyright 2012. All rights reserved
			</p>
		</div>
	</div>
</body>
</html>
